body {
    background-color: rgb(47, 127, 127);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

h1, h2, h3 {
    color: rgb(23, 70, 70);
}

h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 3.5rem;
}

h2 {
    padding: 0px 45px;
    font-size: 2.5rem;
}

h3 {
    padding: 2px 50px;
    margin-bottom: 0px;
}

p {
    padding: 0 50px;
    margin-bottom: 5px;
}

button {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(17, 191, 197);
}

button.submit-button {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    width: 100px;
    height: 40px;
}

button.reply-button {
    align-self: flex-start;
    margin: 10px 50px;
    width: 50px;
    height: 25px;
}

textarea {
    width: 90%;
    margin: 10px;
    padding: 15px 15px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-self: center;
    resize: none;
}

textarea.name-input {
    height: 30px;
}

textarea.content-input {
    height: 45px;
}

div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: rgb(61, 160, 160);
}

div.add-post {
    border: 2px solid rgb(121, 187, 209);
    border-radius: 6px;
    box-shadow: 0px 1px 15px rgb(129, 200, 224);
}

div.add-post {
    width: 80%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 15px;
}

div.post {
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 70%;
}

div.depth-1 {
    border-bottom-style: solid;
    border-bottom-color: rgb(129, 200, 224);
    padding: 20px 0px;
}